body {
	border-top: #f90 5px solid;
}

#container{

}

#header{
	
}

#logo {
	height: 60px;
}

#footer{

}

#content{

}

.breadcrumb > li >a{
	color:#f98408;
	font-weight: bold;
	font-size: 17px;
}
.breadcrumb > strong{
	color:#f98408;
	font-weight: bold;
	font-size: 17px;
}
